---
import { cn } from '@/lib/utils';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn('bg-background border border-foreground/30 px-6', className)}>
  <slot />
</div>
